<div class="row">
  <% @contents.each do |content| %>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag content.cover.url, class: "activator" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= content.titolo %><i class="material-icons right">more_vert</i></span>
          <div>
            <span>Venduto da <%= content.user.name %></span>
            <span class="right"><%= number_to_currency(content.price) %></span>
          </div>
          <br>
          <div class="center"><%= link_to 'Scopri di più', content, class: "btn" %></div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= content.titolo %><i class="material-icons right">close</i></span>
          <p><%= content.descrizione %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="center">
  <%= will_paginate @contents %>
</div>
