<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col l6">
		<%= image_tag @content.cover.url, class: "responsive-img show-img" %>
	</div>
	<div class="col l6">
		<h1 class="show-titolo"><%= @content.titolo %></h1>

		<h4 class="show-prezzo"><%= number_to_currency(@content.price) %></h4>

		<p><b>Venduto da <%= @content.user.name %></b></p>

		<p><%= @content.descrizione %></p>
	</div>
</div>


<% if @content.user == current_user %>
	<%= link_to 'Edit', edit_content_path(@content) %> |
<% end %>
<%= link_to 'Torna ai contenuti', contents_path %>
