<header class="navbar-fixed">
	<nav class="blue-grey darken-2">
	    <div class="container nav-wrapper">
	    	<%= link_to '<i class="fa fa-floppy-o"> LacerMarket</i>'.html_safe, root_path, class: "brand-logo" %>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	      	<li><%= link_to 'Vendi contenuto', new_content_path %></li>
	        <% if user_signed_in? %>
	        	<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	        <% else %>
	        	<li><%= link_to "Log In", new_user_session_path %></li>
	        	<li><%= link_to "Registrazione", new_user_registration_path %></li>
	        <% end %>
	        
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	      	<li><%= link_to 'Vendi contenuto', new_content_path %></li>
	      	<% if user_signed_in? %>
	        	<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	        <% else %>
	        	<li><%= link_to "Log In", new_user_session_path %></li>
	        	<li><%= link_to "Registrazione", new_user_registration_path %></li>
	        <% end %>
	      </ul>
	    </div>
	</nav>
</header>